<div class="container-fluid">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h3>Welcome {{cohort.user.fullName}}</h3>
    <p>Create a New or View Past Cohorts</p>
  </div>
  
  <div class="col-xs-12 new-class">
      <form ng-submit="cohort.addCohort(cohort.cohortInfo)">
          <label>Cohort Name</label><br>
          <input type="text" ng-model="cohort.cohortInfo.name"><br>
          <label>Github Repo</label><br>
          <input type="text" ng-model="cohort.cohortInfo.repo"><br>
          <button class="btn btn-primary">Add</button>
      </form>
  </div>

  <div class="col-xs-12 student" ng-repeat="(id, info) in cohort.cohortArray">
      <div class="col-xs-4">
          <h4 class="cohort-name" ng-dblclick="cohort.editName(info)" ng-hide="info.editName == true">{{info.name}}</h4>
          <form ng-submit="cohort.editedName(info)">
              <input type="text" class="edit" ng-class="{editing: info.editName == true}" value="{{info.name}}" ng-model="info.name" ng-blur="cohort.cancelEditName(info)">
          </form>
      </div>
      <div class="col-xs-4 counters">
        <div class="col-xs-6">
         <a class="btn btn-github btn-lg" ng-href="{{info.repo}}">Repo</a>
         <span ng-click="cohort.editRepo(info)" ng-hide="info.editRepo == true" class="glyphicon glyphicon-pencil"></span>
          <form ng-submit="cohort.editedRepo(info)">
              <input type="text" class="edit" ng-class="{editing: info.editRepo == true}" value="{{info.repo}}" ng-model="info.repo" ng-blur="cohort.cancelEditRepo(info)">
          </form>
         </div>
         <div class="col-xs-6">
             <a class="btn btn-attendance btn-lg" ui-sref="attendance({ cohort: info.$id, instructor_id: cohort.user.uid })">
                 Take Attendance
             </a>
         </div>
      </div>
      <div class="col-xs-4 counters">
         <button class="btn btn-tiy" ui-sref="students({ cohort: info.$id, instructor_id: cohort.user.uid })">View</button>
      </div>
  </div>

  <hr>

</div>
