body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.thumbnail {
  height: 200px;
}

.edit {
    display: none;
}
.edit.editing {
    display: block;
}

.navbar-right {
    margin-right: 0;
}

.count {
    text-align: center;
}

.attend-btns {
    text-align: center;
    margin: 12% 0 0;
}
// injector
// endinjector
