body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.thumbnail {
  height: 200px;
}

.edit {
    display: none;
}
.edit.editing {
    display: block;
}
// injector
// endinjector
