<div class="container-fluid">

  <div ng-include="'components/navbar/navbar.html'"></div>
  
  <div class="col-xs-12 new-student">
      <form ng-submit="stud.addStudent(stud.student)">
          <label>Full Name</label><br>
          <input type="text" ng-model="stud.student.name"><br>
          <label>Github Handle</label><br>
          <input type="text" ng-model="stud.student.handle"><br>
          <label>Github Avatar</label><br>
          <input type="text" ng-model="stud.student.avatar"><br>
          <button class="btn btn-primary">Add</button>
      </form>
  </div>

  <div class="col-xs-12 student">
      <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="student in stud.students">
          <img ng-src="{{student.avatar}}" alt="" class="thumbnail" ng-dblclick="stud.editAvatar(student)" ng-hide="student.editAvatar == true">
          <form ng-submit="stud.editedAvatar(student)">
              <input type="text" class="edit" ng-class="{editing: student.editAvatar == true}" value="{{student.avatar}}" model="student.avatar" ng-blur="stud.cancelEditAvatar(student)">
          </form>
          <h4 class="student-name" ng-dblclick="stud.editName(student)" ng-hide="student.editName == true">{{student.name}}</h4>
          <form ng-submit="stud.editedName(student)">
              <input type="text" class="edit" ng-class="{editing: student.editName == true}" value="{{student.name}}" model="student.name" ng-blur="stud.cancelEditName(student)">
          </form>
          <p ng-dblclick="stud.editHandle(student)" ng-hide="student.editHandle == true">@{{student.handle}}</p>
          <form ng-submit="stud.editedHandle(student)">
              <input type="text" class="edit" ng-class="{editing: student.editHandle == true}" value="{{student.handle}}" ng-model="student.handle" ng-blur="stud.cancelEditHandle(student)">
          </form>
      </div>
<!--
      <div class="col-xs-12 col-md-6 counters">
         <div class="col-xs-4">
              <button class="btn btn-success" ng-click="stud.presentMinus(student)"><span class="glyphicon glyphicon-minus"></span>
              </button>
              Present
              <button class="btn btn-success" ng-click="stud.presentPlus(student)"><span class="glyphicon glyphicon-plus"></span>
              </button>
              <p> {{student.present}} </p>
          </div>
          <div class="col-xs-4">
              <button class="btn btn-warning" ng-click="stud.tardyMinus(student)"><span class="glyphicon glyphicon-minus"></span>
              </button>
              Tardy
              <button class="btn btn-warning" ng-click="stud.tardyPlus(student)"><span class="glyphicon glyphicon-plus"></span>
              </button>
              <p> {{student.tardy}} </p>
          </div>
          <div class="col-xs-4">
              <button class="btn btn-danger" ng-click="stud.absentMinus(student)"><span class="glyphicon glyphicon-minus"></span>
              </button>
              Absent
              <button class="btn btn-danger" ng-click="stud.absentPlus(student)"><span class="glyphicon glyphicon-plus"></span>
              </button>
              <p> {{student.absent}} </p>
          </div>
      </div>
-->
  </div>

  <hr>

</div>